@model ARAPlus.AspWebMitMVC.Models.StichprobenViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

Anzahl Gefahrengüter: @Model.AnzahlGefahrengut<br />
Letzt Abgabedatuem: @Model.LetztAbgabe
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => Model.Stichproben[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.Stichproben[0].Abgabedatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.Stichproben[0].Gefahrengut)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Stichproben)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abgabedatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gefahrengut)
            </td>
            <td>
                <table>
                    @foreach (var detail in item.Details)
                    {
                    <tr>
                        <td>@detail.DetailId  </td>
                        <td>@detail.Beschreibung</td>
                    </tr>
                        
                    }
                </table>
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.StichprobeId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.StichprobeId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.StichprobeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
